<!DOCTYPE html>
<html>
  <head>
    <title>NomAddress.com | Error</title>
  </head>
  <body>
    
<h1>StaticPages#error</h1>
<p>OH POOP! I don't think the page you requested exists. Try going back or go to Home.<p>
<p>Find me in app/views/static_pages/error.html.erb</p>

  </body>
</html>

