<%= @user.first_name %>,
Thank you for registering with NomAddress. Please click the link below to activate your account.

http://nomaddress.heroku.com/users/<%= @user.id * 150%>/confirm

Thank you,

NomAddress Team
info@nomaddress.com


<p style="font-size=8px">If you have not registered for our service then disregard this email.
</p>
