<script>
	$(function() {
		$( "#tabs" ).tabs({ disable: true, collapsible: true }) });
</script>

<div id="tabs">
   <ul>
      <li><img style="float:left" src="/assets/home_icon.png"><a href="#tabs-1">Home</a></li>
      <li><a href="#tabs-2">Office</a></li>
      <li><a href="#tabs-3">School</a></li>
      <li><a href="#tabs-4">Travel</a></li>
   </ul>
   <div id="tabs-1">
      Tab 1 content
   </div>
   <div id="tabs-2">
      Tab 2 content
   </div>
   <div id="tabs-3">
      Tab 3 content
   </div>
   <div id="tabs-4">
      Tab 4 content
   </div>
</div>
