<div id="welcome">
  Welcome to NomAddress <%= @user.first_name%>!
  
  <p id="construction">The site is currently under construction, but you will be hearing from us soon!</p>
 </div>

<%= link_to "ABOUT PAGE", "/about" %>

<div id="address">

  <% @user.addresses.each do |a| %>
    <%= render "addresses/quickshow.html.erb", :@address => a %>
  <% end %>
</div>
<div id="user_box">

  <div id="buttons">
    <%= button_to "Update", :controller => "users", :action => "run_update", :address_id => @user.addresses.first.id %>
  </div>    
		<div class="clear"></div>

</div>

