<div id="welcome">
  Welcome to NomAddress <%= @user.first_name%>!
  <p id="construction">The site is currently under construction, but you will be hearing from us soon!</p>
</div>

<div id="address">
  <%="So far we have just your '#{@user.addresses.first.line1}' address in our records."%>
</div>

<div id="subscriptions">
  <%=link_to("Add a new subscription!", new_subscription_path(:address_id => @user.addresses.first.id)) %>
</div>

