<section id='about'>

<h1>About NomAddress.com</h1>

<article class='about'>

<p class='about'>
NomAddress.com (Nomad - Address) is a site where you can update your address, and have that update propagate to everyone who needs to know.

</p>

<p class='about'>
You first add your current address and make an account.
</p>

<p class='about'>Then you tell NomAddress about who needs to know of any address updates you make, such as banks or UIUC. For most cases, this will require extra information, like subscriber # for magazines.
</p>

<p class='about'>
Finally, when you need to, you can tell NomAddress you are moving. NomAddress will then send out updates to all your 'Subscribers' so that you don't have to worry about telling everyone yourself!
</p>

</article>

<h2>Team Members</h2>

<article class='about'>

Justin Martin<br>
Chen Wang<br>
Feng Shan<br>
Siyi Gu<br>
Siddhant Gahlot<br>
Ronald Searl<br>
Chae Eun Lee<br>
Austine Lakayil<br>

</article>

</section>
