<section id='faq'>

<h1>Frequently Asked Questions</h1>

<article class='faq'>
	<span class='question'>What is NomAddress about?</span><br />
	<span class='answer'><%= link_to 'About', about_path %></span>
</article>

<article class='faq'>
	<span class='question'>How can I change my address?</span><br />
	<span class='answer'>You can't yet.</span>
</article>

<article class='faq'>
	<span class='question'>When will this site be up?</span><br />
	<span class='answer'>When Danny Dig says so.</span>
</article>

<article class='faq'>
	<span class='question'>Will this site be up after the semester?</span><br />
	<span class='answer'>Ask Justin.</span>
</article>

<article class='faq'>
	<span class='question'>What is the purpose of this page?</span><br />
	<span class='answer'>Irrevant information for users.</span>
</article>

<article class='faq'>
	<span class='question'>Who decides what is an faq?</span><br />
	<span class='answer'>I do.</span>
</article>

</section>