<div>
<b>  Email: </b>
<%= @subscribable.email %>
</div>
<div>
<b> Full Name: </b>
<%= @subscribable.full_name %>
</div>
<div>
<b> Country: </b>
<%= @subscribable.country %>
</div>
<div>
<b> Phone Number: </b>
<%= @subscribable.phone_number %>
</div>
