<%= form_for(@subscription) do |f| %>
  <div class="subscribers">
    <% Subscriber.all.each do |sub| %>
      <%= render 'subscriber', :subscriber => sub %>
      <%= hidden_field :address, :id, :value => @subscription.address_id %>
    <% end %>
  </div>
  <div class="next_button">
    <%= f.submit "Next", :type => :image, :src => "/assets/next_button.png" %>
  </div>
<% end %>
