<script>
	$(function() {
		$( "#accordion" ).accordion();
	});
</script>





<div id="accordion">
	<h3><a href="#">Home</a></h3>
	<div>
		<p>
			<img src="/assets/home_icon.png">My Home
		</p>
	</div>
	<h3><a href="#">Office</a></h3>
	<div>
		<p>
			My Office
		</p>
	</div>
	<h3><a href="#">School</a></h3>
	<div>
		<p>
			Unviersity of Illinois
		</p>
	</div>
	<h3><a href="#">Travel</a></h3>
	<div>
		<p>
			Somewhere
		</p>
	</div>
	<h3><a href="#">Vacation</a></h3>
	<div>
		<p>
			Somewhere
		</p>
	</div>
</div>



