body {
  background-image: url('background.png');
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

.header {
  padding-top: 30px;
}

.threestep h2 {
  font-family: helvetica;
  font-size: 20px;
  color: #555;
  text-align: center;
}

.form_box {
  background-image: url('form_outline.png');
  background-color: #fff;
  width: 520px;
  height: 199px;
  margin-left: 27%;
}

.form_box .fields {
  padding-top: 20px;
  line-height: 12px;
}

.form_box .field {
  font-size: 10px;
  padding: 0 0 0 120px; 
}

.apt_label {
  padding-left: 165px;
}
.apt_text {
  margin-left: 25px;
  width: 30px;
}

.lname {
  padding-left: 68px;
}

.next_button {
  margin-top: -20px;
  margin-left: 85%;
}

.subscriber_img {
  padding: 10px 15px 0 0;
}

.subscribers {
  padding: 20px 30px 50px 30px;
}

#clouds {
  width: 100%;
  height: 130px;
  padding-left: 0;
  display:block;
  position: absolute;
  bottom: 0;
}
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#welcome {
 text-align: center;
 font-size: 18px;
 font: 'Helvetica';
}

#construction {
  font-size: 11px;
  color: red;
}

#address {
  text-align: center;
  font-size: 12px;
  color: #555;
}

/* User show page styles */
#address {
	text-align: center;
	margin-left: 100px;
}

#user_box {
  margin-left: 30%;
	padding: 20px 20px; 
	background-color: #cae6e9;
	width: 500px;            
}

#buttons {
	float: left;
	background-color: #fff;
	width: 560px;
	height: 210px;
	
}

.button_to {

	margin: 20px 10px;
	font-size: 50px;
}

.twitter-share-button {
	margin: 0px;
}

.clear{
	clear: both;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }


#faq {
  margin-left: 20px;
  text-align: center;
  h1 {
    font-weight: bold;
     }
  
  article.faq {
    margin-bottom: 5px;
  }

  .question{
    font-style: italic;
    font-size: 15px;
  }

  .answer{
    font-size: 12px;
    font-family: sans-serif, "Calibri"
  }

 }

a.img_link:hover {background-color:transparent !important;}
.footer {
	position: absolute;
	bottom: 70px;
    	left: 50%;
    	margin-left: -100px;
}
