<!DOCTYPE html>
<html>
<head>
  <title>NomAddress.com</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class= 'header'>
    <img src='assets/chopped-logo.png'/>
  </div>
<%= yield %>

</body>
</html>
